﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="CSS/myCSS.css" rel="stylesheet" />
    <title>VNEXPRESS</title>
</head>
<body>
    <div class="top-bar">
        <div class="main-bar">
            <div class="contact-left">
                <a>(0283) 848888 (HCM)</a>
                <a>(9944) 747474 (HN)</a>
                <button>Liên hệ quảng cáo</button>
                <button>Like</button>
                <button>Follow</button>
                <button>Youtube</button>
            </div>
            <div class="login-right">
                <button>Đăng ký</button>
                <button>Đăng nhập</button>
                <input placeholder="Tìm kiếm" />
            </div>
        </div>
        <div class="main-content">
            <div class="main-content1">
                <div class="main-content1.1">
                    <img src="Images/Logo_Vnexpress.png" />
                </div>
                <div class="main-content1.2">
                    <img src="Images/banner-ads-1.png" />
                </div>
                <div class="main-content1.3">
                    <img src="Images/banner-ads-2.png" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>